a.sidebar-tickets {
	text-decoration: none;
	box-shadow: none;
	padding: .5rem 1rem;
	font-size: 1.4rem;
	color: #fff !important; 
	background: #006f44;
	border-radius: 3rem;
}

a.sidebar-tickets:before {
	margin-right: 1rem;
	font-size: 1.8rem;
	line-height: 2rem;
}

a.sidebar-tickets:hover {
	background: #b5b5b5 none;
	box-shadow: #232323 1px 1px 2px;
}
