a.sidebar-tickets {
	text-decoration: none;
	box-shadow: none;
	padding: .5rem 1rem;
	font-size: 1.4rem;
	color: #fff !important; 
	background: #03c379;
	border-radius: 3rem;
}

a.sidebar-tickets:before {
	margin-right: 1rem;
	font-size: 1.8rem;
	line-height: 2rem;
}

a.sidebar-tickets:hover {
	background: #b5b5b5 none;
	box-shadow: #232323 1px 1px 2px;
}

.main-navigation .primary-menu > li.wck-tickets {
	background: #03c379;
	padding: 0 1rem;

}

.main-navigation .primary-menu > li.wck-tickets:before {
	float: left;
	line-height: 2;
	margin-right: .5rem;
}

li.wck-tickets a:hover
{
		background-color: #03c379 !important;
		color: #ccc !important;
	}
