a.sidebar-tickets {
	text-decoration: none;
	box-shadow: none;
	padding: .5rem 1rem;
	font-size: 1.4rem;
	color: #fff !important; 
	background: #006f44;
	border-radius: 3rem;
}

a.sidebar-tickets:before {
	margin-right: 1rem;
	font-size: 1.8rem;
	line-height: 2rem;
}

a.sidebar-tickets:hover {
	background: #b5b5b5 none;
	box-shadow: #232323 1px 1px 2px;
}

.main-navigation .primary-menu > li.wck-tickets {
	background: #006f44;
	padding: 0 1rem;
	float: right;
}

.main-navigation .primary-menu > li.wck-tickets:before {
	float: left;
	line-height: 2;
	margin-right: .5rem;
}

li.wck-tickets a:hover
{
		background-color: #006f44 !important;
		color: #ccc !important;
	}

li.wck-tickets .current-menu-item {
		background-color: #006f44 !important;
		color: #ccc !important;
}

.wcorg-organizer {
	float: left;
	padding: 0 3%;
	width: 50%;
}

.wcorg-organizers .wcorg-organizer:nth-child(2n+1) {
	clear: both;
}

table {
	border-collapse: collapse;
	margin: 0 0 1.5em;
	width: 100%;
}

thead th {
	border-bottom: 2px solid #bbb;
	padding-bottom: .5em;
}

th {
	padding: .4em;
	text-align: left;
}

tr {
	border-bottom: 1px solid #eee;
}

td {
	padding: .4em;
	border: none;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	padding-right: 0;
}
